build
gmt.history
mc-report-2015-06.pdf
mc-report-2015-12.pdf
mc-report-2016-05.pdf
mc-report-2016-11.pdf
mc-report-2017-06.pdf
mc-report-2017-12.pdf
*.swp
*#
*~
*.aux
*.log
*-eps-converted-to.pdf
legends
colourScale.cpt
build.ninja
build.ninja.generated
build.properties
__pycache__
